{% extends 'admin.html.twig' %}

{% block title %}Edit price{% endblock %}

{% block body %}

    <h1>Edit price</h1>

    {{ include('administrator/prices/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
