{% extends 'admin.html.twig' %}

{% block title %}Create new price{% endblock %}

{% block body %}

    <h1>Create new price</h1>

    {{ include('administrator/prices/_form.html.twig') }}

{% endblock %}
