<form method="post" action="{{ path('administrator_sections_delete', {'id': section.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <a class="md-crud-a md-crud-del">
        <button class="btn"><i class="fas fa-trash-alt" data-toggle="tooltip" title="" data-original-title="Delete"></i></button>
    </a>
</form>
