<br><br>
<footer class="uk-card-secondary">
    <nav class="uk-container uk-navbar">
        <div class="footer-container">
            <p>
                Wild Circus by <a href="https://deniev.com/">Magomed Deniev</a>
                <br><br>
                30 January 2020
            </p>
        </div>
    </nav>
</footer>
