<br><br>
<footer class="uk-card-secondary">
    <nav class="uk-container uk-navbar">
        <div class="footer-container">
            <p>Wild Circus by Magomed Deniev
                <br><br>
                <a href="https://wildcodeschool.fr" target="_blank"><img src="https://wildcodeschool.com/wp-content/uploads//2019/01/logo_pink_176x60.png" alt="Wild Code School" width="150"></a>
                <br><br>
                30 January 2020</p>
        </div>
    </nav>
</footer>
